body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 225, 223);
    margin: 0;
}

.login-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    min-width: 400px;
    max-width: 420px;

    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #0528c1, #ab8a98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #0528c1;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #181818;
}

p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

p a {
    color: #0528c1;
    text-decoration: none;
}

@media (max-width: 480px) {
    .login-container {
        width: 95%;
        min-width: unset;
    }
}
