body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 225, 223);
    margin: 0;
}

.login-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 400px; /* supaya responsive */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
    margin-top: 0;
    background: linear-gradient(90deg, #0528c1, #ab8a98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

input {
    margin-top: 10px;
    min-width: 350px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #0528c1;
    box-shadow: 0 0 5px rgba(5,40,193,0.5);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #0528c1;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #181818;
}

.forgot-password {
    text-align: right;
    width: 100%;
    margin: -10px 0 10px 0;
}

.forgot-password a {
    text-decoration: none;
    color: #0528c1;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

p a {
    color: #0528c1;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Responsive untuk HP */
@media (max-width: 480px) {
    .login-container {
        width: 95%;
        min-width: unset;   /* MATIKAN MIN 400 */
        padding: 15px;
    }
}
