* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fb;
  color: #333;
}

header{
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ccc;
}

.nama {
    display: flex;
    gap: 10px;
    align-items: center;
}